.main-container{
    background-color: rgba(238, 238, 238, 0.1);
    margin-top: 20px;
    margin-left: 50px;//235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
    margin: 45px 15px 0 250px;
}

.fluid-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

::ng-deep .fluid-card {
    background: #fff;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
::ng-deep .fluid-card .header {
    color: #555;
    padding: 20px;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
}

::ng-deep .fluid-card .header h2 small {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    color: #999;
    line-height: 15px;
}

::ng-deep .fluid-card .header button{
    float: right;
    position: relative;
    bottom: 50px;
}

@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
