$topnav-background-color: #fafafa;
$topnav-color: #434343;

.nav-header {
font-family: "Roboto", sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
}
.header .navbar {
    background: $topnav-background-color !important;
}

@media (min-width: 992px){
  .my-lg-0 {
      margin-top: 0px;
      margin-bottom: 0px;
  }
}
.show>.dropdown-menu {
    display: block;
    opacity: 1;
}

.navbar-dark .navbar-brand {
  color: $topnav-color;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
 color: $topnav-color;
}
