$topnav-background-color: #fafafa;
$topnav-color: #434343;

.header .navbar {
    background: $topnav-background-color !important;
}

@media (min-width: 992px){
  .my-lg-0 {
      margin-top: 0px;
      margin-bottom: 0px;
  }
}
.show>.dropdown-menu {
    display: block;
    opacity: 1;
}

.navbar-dark .navbar-brand {
  color: $topnav-color;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
 color: $topnav-color;
}
