<header class="pos-f-t fixed-top header">
<nav class="navbar bg-faded navbar-inverse bg-inverse navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="javascript:void(0)">Barlink</a>
  <div class="collapse navbar-collapse">
    <a class="navbar-brand" href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
    <ul class="navbar-nav ml-auto mt-2 mt-md-0">
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/address" routerLinkActive="active">Addresses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</header>
