<mat-toolbar>
  <span>{{restaurant?.name}}</span>

  <span class="app-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>Menu
  </button>

  <button mat-button [matMenuTriggerFor]="language">
    <mat-icon>language</mat-icon>{{ 'Language' | translate }}
  </button>

  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>

  <mat-menu #language="matMenu">
    <button mat-menu-item (click)="changeLang('en')">
      <mat-icon>dialpad</mat-icon>
      <span>{{ 'English' | translate }}</span>
    </button>
    <button mat-menu-item (click)="changeLang('es')">
      <mat-icon>voicemail</mat-icon>
      <span>{{ 'Spanish' | translate }}</span>
    </button>
  </mat-menu>
