<div class="login-container">
<mat-tab-group (selectedTabChange)="tabChanged($event)" [(selectedIndex)]="selectedIndex">
  <mat-tab  [label]='textLabel'  >
    <div class="app-tab-content">
      <mat-card class="login-card">
      <mat-card-content>
        <!-- <form (ngSubmit)="onLoggedin()" #formlogi="ngForm"> -->
          <mat-form-field>
            <input matInput placeholder="username" name="username" [(ngModel)]="model.username" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" placeholder="password" name="password" [(ngModel)]="model.password"required [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>

        <!-- </form> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-button mat-raised-button mat-accent (click)="login()">LOGIN</button>
      </mat-card-actions>
    </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Register">
    <div class="app-tab-content">
      <mat-card class="login-card">
      <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="username">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="email" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" placeholder="password"  required>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" placeholder="repeat password" required>
          </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button mat-raised-button (click)="register()">REGISTER</button>
      </mat-card-actions>
    </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
</div>
