<nav class="sidebar mdb-sidenav" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/home" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'main' | translate }}
        </a>
        <a [routerLink]="['/income']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'incomes' | translate }}
        </a>
        <a [routerLink]="['/expenses']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'expenses' | translate }}
        </a>
    </ul>
</nav>
