<div class="container-fluid">
  <h3>{{ 'dashboard' | translate }}</h3>

  <!-- <h4>Top Address</h4>
  <div class="grid grid-pad">
    <a *ngFor="let address of addresses"  [routerLink]="['/detail', address.id]"  class="col-1-4">
      <div class="module address">
        <h4>{{address.name}}</h4>
      </div>
    </a>
  </div>
</div> -->

<!--<mat-tab-group class="app-tab-group">
  <mat-tab label="{{'advices' | translate}}">
    <div class="app-tab-content">
        <table-pagination-user></table-pagination-user>
    </div>
  </mat-tab>
  <mat-tab label="Tab 3">
    <ng-template mat-tab-label>
      ⭐
    </ng-template>
    <div class="app-tab-content">
    </div>
  </mat-tab>
  <mat-tab label="Tab 2">
    <div class="app-tab-content">
    </div>
  </mat-tab>
</mat-tab-group>-->
<div class="cards-content">
  <div class="card">
    <mat-card class="small-card">
      <mat-card-header>
        <mat-card-title class="font-card-medium">{{'expenses' | translate}}</mat-card-title>
        <mat-card-subtitle><mat-icon>today</mat-icon> Enero</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <span class="font-card-medium">
          1000 €
        </span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Detalle</button>
        <button mat-button color="primary">Listado gastos</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card">
    <mat-card class="small-card">
      <mat-card-header>
        <mat-card-title class="font-card-medium">{{'expenses' | translate}}</mat-card-title>
        <mat-card-subtitle><mat-icon>today</mat-icon> Enero</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <span class="font-card-medium">
          1000 €
        </span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Detalle</button>
        <button mat-button color="primary">Listado gastos</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card">
    <mat-card class="small-card">
      <mat-card-header>
        <mat-card-title class="font-card-medium">{{'expenses' | translate}}</mat-card-title>
        <mat-card-subtitle><mat-icon>today</mat-icon> Enero</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <span class="font-card-medium">
          1000 €
        </span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Detalle</button>
        <button mat-button color="primary">Listado gastos</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card">
    <mat-card class="small-card">
      <mat-card-header>
        <mat-card-title class="font-card-medium">{{'expenses' | translate}}</mat-card-title>
        <mat-card-subtitle><mat-icon>today</mat-icon> Enero</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <span class="font-card-medium">
          1000 €
        </span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Detalle</button>
        <button mat-button color="primary">Listado gastos</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card">
    <mat-card class="small-card">
      <mat-card-header>
        <mat-card-title class="font-card-medium">{{'expenses' | translate}}</mat-card-title>
        <mat-card-subtitle><mat-icon>today</mat-icon> Enero</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <span class="font-card-medium">
          1000 €
        </span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Detalle</button>
        <button mat-button color="primary">Listado gastos</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card">
    <mat-card class="small-card">
      <mat-card-header>
        <mat-card-title class="font-card-medium">{{'expenses' | translate}}</mat-card-title>
        <mat-card-subtitle><mat-icon>today</mat-icon> Enero</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <span class="font-card-medium">
          1000 €
        </span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Detalle</button>
        <button mat-button color="primary">Listado gastos</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
